# Determines whether the application is in debug mode
DEBUG=True

# Specifies the main application file for Flask
FLASK_APP=run.py

# Enables Flask's debug mode (1 for on, 0 for off)
FLASK_DEBUG=1

# Secret key used for encryption (should be a strong, unique value in production)
ENCRYPTION_KEY=""

# Database configuration

# Database engine (e.g., mysql+pymysql for MySQL with PyMySQL driver)
DB_ENGINE=mysql+pymysql

# Database host address
DB_HOST=

# Name of the database
DB_NAME=

# Database username
DB_USERNAME=

# Database password
DB_PASS=

# Database port number
DB_PORT=

# Base URL for static assets, used for CDN in production
# No trailing slash
ASSETS_ROOT=/static/assets

# Microsoft Entra ID (formerly Azure AD) configuration for social authentication
# Entra ID application (client) ID
ENTRA_ID=""

# Entra ID client secret
ENTRA_SECRET=""

# Azure tenant ID
AZURE_TENANT=""

# Allows OAuth to work without HTTPS (should be set to 0 in production)
OAUTHLIB_INSECURE_TRANSPORT=1

# Sets the preferred URL scheme (http or https)
PREFERRED_URL_SCHEME=http