{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">

                    <h3 class="mb-4">Sign Up</h3>

                    <!-- Hide the form on success -->
                    {% if success %}
                        <a href="{{ url_for('authentication_blueprint.login') }}" class="btn btn-primary shadow-2 mb-4">Sign IN</a>
                    {% else %}

                        <form role="form" method="post" action="">

                            {{ form.hidden_tag() }}                    

                            <div class="input-group mb-3">
                                {{ form.givenName(placeholder="First Name", class="form-control") }} <!-- Update field name -->
                            </div>

                            <div class="input-group mb-3">
                                {{ form.surname(placeholder="Last Name", class="form-control") }} <!-- Update field name -->
                            </div>

                            <div class="input-group mb-3">
                                {{ form.username(placeholder="Username", class="form-control") }}
                            </div>
                            
                            <div class="input-group mb-3">
                                {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                            </div>

                            <div class="input-group mb-4">
                                {{ form.password(placeholder="Password", class="form-control", type="password") }}
                            </div>
                            
                            <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

                        </form>
                        
                        <p class="mb-0 text-muted">Already have an account? <a href="{{ url_for('authentication_blueprint.login') }}">Login</a></p>
                       

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
