{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Info</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="exampleInputUsername">Username</label>
                                                        <input class="form-control" id="exampleInputUsername" readonly 
                                                               value="{{ current_user.username }}"
                                                               aria-describedby="userHelp" placeholder="Enter email">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label {% if not current_user.email %} class="text-danger" {% endif %} 
                                                               for="exampleInputEmail1">Email address</label>
                                                        <input type="email"
                                                               {% if current_user.email %} readonly value="{{ current_user.email }}" {% endif %}  
                                                               class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                                        {% if not current_user.email %}       
                                                            <small id="emailHelp" class="form-text text-danger">
                                                                You don't have an email address associated with this account.
                                                            </small>
                                                        {% endif %}    
                                                    </div>
                                                </div>                                                
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fn">First Name</label>
                                                        <input type="text" 
                                                               class="form-control" id="fn" readonly value="{{ current_user.givenName }}" aria-describedby="fnHelp" placeholder="Your name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="ln">Last Name</label>
                                                        <input type="text" 
                                                               class="form-control" id="ln" readonly value="{{ current_user.surname }}" aria-describedby="lnHelp" placeholder="Your last name">
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}